@charset "ISO-8859-1";
*{ 
	margin: 0; 
	padding: 0; 
}
body{
	height: 100%;
	background-image:url("back.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.clear{ 
	clear: both; 
}

form{ 
	width: 100%; 
}
.header{
	text-align:center;
	border-bottom:2px solid black;
	margin-top:10px;
	width:100%;
	padding:50px;
		 		
}
fieldset{
	border: 2px solid black; 
	padding: 20px;
	width:95%;
	margin-left:5px;
}

table,td,th {
	border: 1px solid black;
	border-collapse: collapse;
	text-align:center;
}
table{
	width:100%;
}					  
.button{ 
	background: url("button-bg.png"); 
	font-weight: bold;
	font-size: 15px; 
	float:right;
}
.footer{
	text-align:center;
	border-top:2px solid black;
	margin-top:60px;
	width:100%;
	padding: 30px;
		 		
}